@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.banner-section{
    width: 900px;
    margin: auto;
    background-image:linear-gradient(rgba(108, 211, 147, 0.396), rgba(77, 82, 22, 0.287)) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 10px;
    
}
.banner-contant{
    padding: 100px;
    text-align: center;
    color: white;
    
}

.banner-title{
    font-size: 50px;
    font-weight: 900;
}
.banner-description{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: rgb(225, 213, 213);
}
.banner-btn{
   background-color: rgba(72, 56, 56, 0.303);
   padding: 15px 5px;
   display: flex;
   justify-content:space-between;
}
.btn-primary{
    border: 0;
    padding: 10px 40px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    color:rgb(178, 170, 170);
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-primary:hover{
    background-color: orangered;
    color: #fff;
}
.fa-regular{
    color: black;
    margin-left: 15px;
    color:rgb(178, 170, 170);
}
#search {
    background-color: orangered;
    color: #fff;
}
/* main section style */
main section{
  width: 900px;
  margin: auto;
}

/* popular section style */
.popular-section{
   margin-top: 100px;
}
.popular-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.popular-contant-info{
    width: 400px;
}
.popular-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.popular-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(84, 77, 77);
    
}
.list-description{
    width: 350px;
}   
.description{
   margin-bottom: 10px;
    padding: 0  10px;
    font-size: 14px;
    color:  rgb(84, 77, 77);
    font-weight: 300;
}
.btn-secondary{
    border: 0;
    padding: 10px 40px;
    background-color: orangered;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    color: white ;
}
/* newsletar section style */

.newsletar-section{
    width: 900px;
    margin-top: 100px;
}
.newsletar-container{
   
    display: flex;
    
    gap: 20px;
   
}
.input-fild-info{
    width: 350px;
    border: 1px solid orangered;
    padding: 50px ;
    border-radius: 10px;
}
.news-title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.news-description{
    font-size: 14px;
    font-weight: 400;
    color: rgb(83, 73, 73);
}
.input-fild{
    width: 318px;
    display: block;
    margin-bottom:10px;
    border: 0;
    padding: 15px 20px;
    outline: none;
    background-color: rgb(235, 226, 226);
    border-radius: 10px;
    font-size: 12px;
}
#subscribe-btn{
    width: 348px;
    padding: 15px 20px;
}
.newsletar-image{
    width: 500px;
}
.newsletar-image img{
    width: 100%;
}
/* footer style */
footer{
    margin-top: 100px;
    padding: 100px;
    background-color: beige;
    text-align: center;
}

footer hr{
    width: 800px;
   
}
.Logo-name{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    
}

.orange{
    font-size: 30px;
    font-weight: 700;
    color: orangered;
    margin-top: 5px;
}

.footer-description{
   font-size: 14px;
   font-weight: 400;
   color: gray;
}
.social-icon {
    padding: 20px;
}
.fa-brands{
    font-size: 40px;
    padding: 10px;
}
/* destination section style */
.destination-section{
    width: 992px;
    margin-top: 100px;
}
.destination-contant{
   text-align: center;
}
.destination-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.destination-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(97, 85, 85);
    margin-top: 5px;
   
    
}
.destination-container{
     display: grid;
    gap: 10px; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.destination-container img{
    width: 100%;
    height:100%;
}
.grid-item-1{
    grid-column: 1 /span 6;
    grid-row: 1 /span 1;
   
}
.grid-item-2{
    grid-column: 7 /span 6;
     grid-row: 1 /span 1;
}
.grid-item-3{
    grid-column: 1 /span 4;
     grid-row: 2 /span 1;
}
.grid-item-4{
    grid-column: 5 /span 5;
     grid-row: 2 /span 1;
}
.grid-item-5{
    grid-column: 10 /span 3;
     grid-row: 2 /span 1;
}
.grid-item-6{
    grid-column: 1 /span 5;
     grid-row: 3 /span 1;
}
.grid-item-7{
    grid-column: 6  /span 7;
     grid-row: 3 /span 1;
}
/* choose section style */

.choose-card-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 30px;
   
    
}
.choose-grid-item-1{
    grid-column: 1 /span 3;
    grid-row: 1 /span 1;
   
}
.choose-grid-item-2{
    grid-column: 6/span 3;
     grid-row: 1 /span 1;
}
.choose-grid-item-3{
    grid-column:  4/span 2;
     grid-row: 2 /span 1;
     
}
.choose-card {
    width: 350px;
    background-color: wheat ;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
.choose-card img{
    width: 100%;
    width: 50px;
    margin: 5px 0;
}
.choose-card-title{
    font-size: 24px;
    font-weight: 800;
    margin: 5px 0;
}
.choose-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(112, 101, 101);
}







 



/*-----------------------
media quearis responsiv.
------------------------*/

@media screen and (max-width:600px) {
    
     .banner-section{
        width: 950px;
        height: 400px;
        margin-left: 0;
       
    }
    .banner-contant{
      padding:60px;
     
    }
    .banner-title{
      font-size: 30px;
    }
    .banner-btn{
        flex-direction: column;
        gap: 8px;
        
    }
    .btn-primary{
       padding: 10px;
    }

   .popular-container{
   
        flex-direction: column;
        gap: 30px;
        
    }
     .popular-contant-info{
        width: 800px; 
        font-size: 50px;
        margin-bottom:20px ;
        
    }
  
    .contant-image{
        width: 950px;
    }
     .contant-image img{
        width: 100%;
     }
     
       .list-description{
        width: 900px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 40px;
        
        
    } 
    .newsletar-container{
       
        flex-direction: column;
        gap: 30px;
      }
      .newsletar-image img{
        width: 100%;
      }
     .newsletar-image{
      width: 980px;
     }
     .input-fild-info{
        width: 950px;
        padding: 20px;
     }
     .input-fild{
        width: 90%;
        font-size: 30px;
        padding: 50px 20px;
     }
     #subscribe-btn{
        width: 95%;
      padding: 50px 10px;
      font-size: 30px;
  }
    .destination-title{
       width: 100%;
       font-size: 40px;
       margin-bottom: 10px;
    }
    .destination-description{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .destination-container img{

        width: 100%;
        height: 100%;
       
    }
    
    footer{
        width: 850px;
    }
    footer hr{
        width: 100%;
    }



    .destination-container{
       
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        
    }

.grid-item-1{
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
   
}
.grid-item-2{
    grid-column: 1 /span 1;
     grid-row: 2 /span 1;
}
.grid-item-3{
    grid-column: 1 /span 1;
     grid-row: 3 /span 1;
}
.grid-item-4{
    grid-column: 1/span 1;
     grid-row:  4/span 1;
}
.grid-item-5{
    grid-column: 1 /span 1;
     grid-row: 5 /span 1;
}
.grid-item-6{
    grid-column: 1 /span 1;
     grid-row:  6 /span 1;
}
.grid-item-7{
    grid-column: 1 /span 1;
     grid-row: 7 /span 1;
}   

}