@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
  margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}
.logo-name{
    display: flex;
    gap: 8px;
   
}
.banner-section{
    width: 992px;
    margin: auto;
    background-image:linear-gradient(rgba(108, 211, 147, 0.396), rgba(77, 82, 22, 0.287)) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 10px;
    
}
.banner-contant{
    padding: 100px;
    text-align: center;
    color: white;
    
}

.banner-title{
    font-size: 50px;
    font-weight: 900;
}
.banner-description{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: rgb(225, 213, 213);
}
.banner-btn{
   background-color: rgba(72, 56, 56, 0.303);
   padding: 15px 5px;
   display: flex;
   justify-content:space-between;
}
.btn-primary{
    border: 0;
    padding: 10px 40px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    color:rgb(178, 170, 170);
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-primary:hover{
    background-color: orangered;
    color: #fff;
}
.fa-regular{
    color: black;
    margin-left: 15px;
    color:rgb(178, 170, 170);
}
#search {
    background-color: orangered;
    color: #fff;
}
/* main section style */
main section{
  width: 992px;
  margin: auto;
}

/* popular section style */
.popular-section{
   margin-top: 100px;
}
.popular-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.popular-contant-info{
    width: 400px;
}
.popular-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.popular-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(84, 77, 77);
    
}
.list-description{
    width: 350px;
}   
.description{
   margin-bottom: 10px;
    padding: 0  10px;
    font-size: 14px;
    color:  rgb(84, 77, 77);
    font-weight: 300;
}
.btn-secondary{
    border: 0;
    padding: 10px 40px;
    background-color: orangered;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    color: white ;
}
/* newsletar section style */

.newsletar-section{
    margin-top: 100px;
}
.newsletar-container{
   
    display: flex;
    justify-content: space-around;
    gap: 20px;
   
}
.input-fild-info{
    width: 350px;
    border: 1px solid orangered;
    padding: 50px ;
    border-radius: 10px;
}
.news-title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.news-description{
    font-size: 14px;
    font-weight: 400;
    color: rgb(83, 73, 73);
}
.input-fild{
    width: 318px;
    display: block;
    margin-bottom:10px;
    border: 0;
    padding: 15px 20px;
    outline: none;
    background-color: rgb(235, 226, 226);
    border-radius: 10px;
    font-size: 12px;
}
#subscribe-btn{
    width: 348px;
    padding: 15px 20px;
}
.newsletar-image{
    width: 450px;
}
.newsletar-image img{
    width: 100%;
}


@media screen and (max-width:600px) {
    nav{
       flex-direction: column;
       margin-bottom: 25px;
    }
    nav ul {
        display: none;
    }
    .banner-section{
        width: 645px;
        margin:0 100px;
    }
    .banner-contant{
      padding:50px;
    }
    .banner-btn{
        flex-direction: column;
        gap: 20px;
        
    }
    .btn-primary{
       padding: 10px;
    }
    main section{
     width: 645px;
     margin: 150px;
    }
    .newsletar-container,
    .popular-container{
        flex-direction: column;
        gap: 40px;
        
    }
   
    .head-info-container{
        width: 500px;
    }
    .popular-contant-info{
        margin:20px 0px;
        width: 550px;
    }
    .list-description{
        width: 400px;
        margin-bottom: 20px;
    }
    
    
}